.sy_top {height: 50%; width: 100%; background: #4a99e6; position: absolute; top: 0;}
.btmLogin {width: 100%;top: 50%;position: absolute;}
.sy_bottom {text-align: center;}
.sy_bottom h1 {font-size: 25px;color: #333;font-weight: normal;margin: 50px 0;}
.sy_bottom li{display:inline-block;margin-right:10px;}
.companyName{position: fixed;width: 100%; color:#ccc; bottom:10px ;text-align:center; font-size:16px;}
.ul-wrap .ant-btn{margin-right: 10px;}
.ul-wrap .ant-spin-spinning{ left: 0; }